@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Welcome</h1>
    
</div>

<section id="header">

</section>

<style>
    #header {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://th.bing.com/th/id/R.18fed0affceebbd60ce420fe450de80e?rik=WXk4bJNvc8EBpQ&riu=http%3a%2f%2fwww.wallpapersin4k.org%2fwp-content%2fuploads%2f2017%2f04%2fFire-And-Ice-Dragon-Wallpaper-17.jpg&ehk=131L78JKOi%2bcy4ld0gPF5F4WwleO0wBoJeWQtOOP62U%3d&risl=&pid=ImgRaw&r=0') no-repeat;
        background-size: cover;
        opacity: 1.1;
        height: 550px;
        color: black;
        text-align: center;
    }
</style>
